html {
    font-family: Roboto !important;
}

body {
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.btn-default .badge {
    background-color: #4e59fd !important;
}

.jumbotron>hr {
    border-top-color: #cccccc !important;
}

.sp-pro-grid-b h6,
.sp-pro-grid-b h4 {
	text-transform: uppercase;
}

.alert-custom {
	margin-bottom: 0px;
	margin-top: 20px;
}

.upper-case select {
	text-transform: uppercase;
}

.item-cart {
	text-align: left !important; 
	padding-left: 10px !important;
	margin-top: 25px !important;
}

.old-price {
	text-decoration: line-through;
	color: #808080;
}

.img-promo{
	height:auto;
	max-width:100%;
}

@media (max-width: 500px) { 
	height:none;
}

.img-promo:hover {
	cursor: pointer;
}

.text-gray {
	text-align: center; 
	color: #808080; 
	margin-top: 25px !important;
}

.label-color > .radio-color {
	display: none !important;
}

.label-color > .radio-color + img {
	cursor:pointer;
}

.label-color > .radio-color:checked + a > img {
	border: 2px solid #4e4a4a !important;
}

.label-sm{
text-align: left;
padding-top: 10px;
padding-left: 0;
}   

.label-sm > a > img {
  border: 1px solid #ababab;
}

.alert-tab {
	padding: 15px !important; 
	margin-top: 10px;
}

.filter-text input {
	width: 35%;
	padding: 0 5px;
}

/* INVOICE */
.table-inv {
	font-size: 13px !important;
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	margin-left: 10px;
	margin-right: 10px;
}

.table-inv .to-center {
  	text-align: center;
}

.table-inv .to-right {
  	text-align: right;
}

.table-inv tfoot td {
  	text-align: right;
}

.container-inv {
	width: 209mm;
	padding: 5mm;
	font-family: Verdana;
}

.container-inv .row {
  	margin-left: 0px;
}

.info-inv {
	display: block;
	margin: 10px 30px 10px 10px;
}

.table-inv .product-name {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px !important;
}

.table-inv tr th,
.table-inv tr td {
	padding: 2px 10px !important;
	border-right: 1px solid #333;
	border-top: 1px solid #333 !important;
}

.info-inv {
	margin: 10px !important;
}

.container-inv .logo {
	top: -15px;	
}

.title-inv h4 {
	font-weight: bold;
}

.table-inv .notes {
	padding-left: 15px;
}

.title-inv {
	height: 100px;
}

.content-tab {
	padding: 20px;
	min-height: 150px;
}

.qu-search {
	background-color: #fafafa;
}

.center-margin {
	margin-left: auto;
	margin-right: auto;
}

.col-product {
	height: 280px;
	width: 100%;
}

.content-center{
	display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.content-blog img{
	max-width: 80%;
	height: auto;
}

.content-blog h1{
	font-size: 26px;
}

.title-blog{
	color: #333;
	font-weight:500;
}

.title-blog:hover{
	font-weight:600;
}