/*SHOP PAGE*/
.sp-life{
    background-color: #A9A9A9;
    width: 100%;
    height:100%;
    margin-top: 40px;
    margin-bottom: 10px;    
    padding: 40px 0 40px 0;
  }
  .sp-life > div{
    text-align: center;
  } 
  .sp-life > div > h2{
    color: white;
    letter-spacing: 6px;
    font-size:35px;
  }   
  .sp-life > div > h6{
    color: white;
    letter-spacing: 2px;
  } 
  .sp-fil{
    padding-left: 0;
    padding-right: 0;
  }
  .sp-fil-cat{
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  .pan-cus{
    border-radius: 0;
    border: 0;
    background-color: none;
  } 
  .pan-cus > div > h4 > a{
    background-color: transparent;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .pan-cus-l > div > h4 > a{
    background-color: transparent;
    font-size: 14px;
    text-decoration: none;    
  } 
  .pan-cus-l{
    border-radius: 0;
    border: 0;
    background-color: none;
  }   
  .pan-cus-l > .panel-heading{
    background-color: transparent;
        padding-left: 0;
  }   
  .pan-cus > .panel-heading{
    background-color: transparent;
    border-bottom: 1px solid #E4DCDC;
        padding-left: 0;
  } 
  .pan-body{
    padding-left: 0;
    padding-right: 0;
  }
  .pan-body .active a {
  	font-weight: bold;
  }
 .pan-body .list-group-item.active, 
 .pan-body .list-group-item.active:hover, 
 .pan-body .list-group-item.active:focus
 {
  	background-color: transparent !important;
  	border-color: #EAEAEA !important;
  }
  .pan-body-item{
    border-radius: 0;
    padding-left: 0;
    border:0;
    border-bottom: 1px solid #EAEAEA;
    background-color: none; 
  }
  .pan-body-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 10px;    
  }
  .pan-body-item:last-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;  
    border-bottom: 1px solid #EAEAEA;
    margin-top: 10px; 
  } 
  .pan-body-item > a{
    color: #828181;
  }
  .pan-body-item-clr{
    border-radius: 0;
    padding-left: 0;
    border:0;
    background-color: none; 
  }
  .pan-body-item-clr{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;    
  }
  .pan-body-item-clr:last-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
  } 
  .pan-body-item-clr > a{
    color: #828181;

  }     
  .pan-body > ul > li{
    
  }   
  .search{
    border-radius: 0;
  }
  .btn-go{
    border-radius: 0;
    background-color: #212121;
    color: white;
    border-color: none;
  } 



.sp-show{
    padding-right: 0;
  }
  .sp-show-row{ 
      border-top: 1px solid #212121;
      border-bottom: 1px solid #eaeaea;
      padding: 10px 0 10px 0;
      margin-bottom: 10px;
      margin-top: 10px;      
  } 
  .sp-show-row > div:first-child{ 
      padding-left: 0;
      padding-right: 0;
  }
  .sp-show-row > div:last-child{  
      padding-left: 0;
      padding-right: 0;
  } 
  .sp-show-row > div > h6{  
  }
  .btn-tog{
    border-radius: 0;
  }
  .sp-show-pag > .pagination{ 
    margin:0;
    display: block;
  } 
  .sp-show-pag > .pagination > .active > span { 

    background-color: #212121;
    border-color: #212121;
  } 
  .sp-show-pag > .pagination > li > a {  
    color: #212121;
  }     
  .sp-show > div{
    font-size: normal;
    letter-spacing: 0;
  }

/*LIST*/
.sp-list{
      padding:10px 0 20px 0;    
      border-bottom: 1px solid #e6e6e6;
      border:1px solid white;}
.sp-list:hover{
      padding:10px 0 20px 0;   
  border:1px solid #B7B4B4;
}   
    .sp-list > a > div > h4, h3{
      color: black;
      }       
      .sp-pro-list-a{
        padding-left: 10px;
        padding-right: 0;}
      .sp-pro-list-b{
        padding-left: 30px;
        padding-right: 10px;}
              .sp-pro-list-b > div{
        color: black}
        .sp-pro-list-b > h6{
          text-align: left;
          letter-spacing: 2px;
          color:#777777;
          font-weight: 600;}
        .sp-pro-list-b > h4{
          text-align: left;
          font-weight: 400;
          font-size: 16px;}
        .sp-pro-list-b > h3{
          font-weight: bold;
          margin-top: 20px;
          margin-bottom: 20px;}
        .sp-pro-list-b > center > .b-price{
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          margin-top: 10px;
          color:black;
        }        
        .sp-pro-list-b > center > .b-dis{
          text-decoration: line-through;
          color: #808080;
          font-size: 12px; 
        }            
        .sp-pro-list-b > p{color: #C2BABA;margin-top: 10px;} 
        .sp-pro-list-b > button{margin-top: 20px;
          border-radius: 0} 
/*GRID*/
.sp-grid{
  padding:10px 10px 20px 10px;
  border:1px solid white;
}   
.sp-grid:hover{
  padding:10px 10px 20px 10px;
  border:1px solid #B7B4B4;
}
.sp-grid h4, h6, b{
  color: #4e4e4e;
}   
    .sp-grid > a > div > h4, h3{
      color: black;
      text-transform: uppercase;
    }
    .sp-grid > a > div > img {
  height:280px; 
  width:270px; }
    .sp-grid > a > div >img > div:first-child{
    position: absolute;}    
      .sp-pro-grid-a{
        padding-left: 0;
        padding-right: 0;
          /*height: 280px;
          width: 240px;*/
      }
      .sp-pro-grid-a > ul{
        padding:0;
        margin-bottom: 0;
      }
      .sp-pro-grid-b{
        padding-left: 0;
        padding-right: 0;
        /*width: 270px;*/
       }
      .sp-pro-grid-b > center{
        padding-top: 0;
        /*width: 270px;*/
       } 
                  
        .sp-pro-grid-b > a > center > h6{
          text-align: center;
          letter-spacing: 2px;
          color:#777777;
          font-weight: 600;}
        .sp-pro-grid-b > a > center > h4{
          text-align: center;
          font-weight: 400;
          font-size: 16px;}
        .sp-pro-grid-b > center > .b-price{
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          margin-top: 10px;
          color:black;
        }        
        .sp-pro-grid-b > center > .b-dis{
          text-decoration: line-through;
          color: #808080;
          font-size: 12px; 
        }                
        .sp-pro-grid-b > p{color: #C2BABA;}   
        .sp-pro-grid-b > button{
          border-radius: 0;
          width: 100%;}



/*LATEST PRODUCT*/
.pp-ot{
margin-bottom:10px;border-bottom:1px solid black;  
}
.lat-p{
padding-left:0; padding-right:0;  
}
.lat-p > div{
  margin-top: 5px;
   margin-bottom:20px;
 border-bottom: 1px solid gray;
 padding-bottom: 15px;
 padding-left: 0;
 padding-right: 0;
 letter-spacing: 2px;
}
.lat-p > div > div{
 padding-left: 0;
 padding-right: 0;
}
.lat-p > div > div:last-child{
  top: 5px;
}
.lat-p > div > div:last-child > a{
  color: black;
}

.lat-p > a{
  color: black;
}
.lat-p > a:hover{
  color: gray;
}
.lat-p >  a > div {
padding-left:0; padding-right:0;margin-bottom:20px;  
}
.lat-p >  a > div > div > h5{
color:#FBC90B;  
}
.lat-p >  a > div > div{
padding-left:0;
}
.lat-p >  a > div > div > img{
width:50px; height:60px; background-color:gray;
}
.lat-p >  a > div > div:last-child{
padding-right:0;padding-left:0;
}            
.lat-p >  a > div > div:last-child > h6{
margin-top: 0;
}      
.lat-p >  a > div > div:last-child > h5{
margin-top: 20px;
}            

